@tailwind base;
@tailwind components;
@tailwind utilities;


.style-module_fillIcons__6---A .filled-icons{
    display: flex;
}
svg{
    display: inline;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    color: azure;
}
